@font-face {
    font-family: Futura;
    src: url("../font/FUENTES/futurastd.otf") format("opentype");
}

/*

@font-face {
    font-family: Futura;
    font-weight: lighter;
    src: url("../font/FUENTES/FuturaBT_Light.otf") format("opentype");
}

@font-face {
    font-family: Futura;
    font-weight: bold;
    src: url("../font/FUENTES/futurastd-heavy.otf") format("opentype");
}

*/