@font-face {
    font-family: "Futura";
    src: url("../font/futurastd-heavy.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Futura";
    src: url("../font/futurastd-light_2.otf") format("opentype");
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: "Futura";
    src: url("../font/Futura_Std_Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
/*
@font-face {
    font-family: Futura;
    font-weight: bold;
    src: url("../font/FUENTES/futurastd-heavy.otf") format("opentype");
}

*/