#welcome {
    position: relative;
    background-image: url(../images/bg-gradient.png);
    background-size: cover;
    .welcome__container {
        display: flex;
        position: relative;
        margin-top: 150px;
        height: 100%;
    }
    .welcome__info {
        position: relative;
    }
}

@media (max-width: 576px) {
    #welcome {
        .welcome__container {
            margin-top: 100px;
        }
    }
}

@media (min-width: 767.98px) {
    /* Inicio */
    .welcome__info {
        position: relative;
        left: 13vw;
    }
}

#columnas {
    padding-top: 10rem;
}
