#welcome {
    position: relative;
    overflow: hidden;
    background-image: url(../images/bg-gradient.png);
    background-size: cover;
    height: 120vh;
    .welcome__container {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .welcome__info {
        position: relative;
    }
}

@media (min-width: 767.98px) {
    /* Inicio */
    .welcome__info {
        position: relative;
        left: 13vw;
    }
}

#columnas {
    padding-top: 10rem;
}
