#welcome {
    background-image: url(../images/bg-gradient.png);
    background-size: cover;
    height: 110vh;
    .welcome__container {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .welcome__info {
        position: relative;
        left: 13vw;
    }
}

#columnas {
    padding-top: 10rem;
}
