@import "vars.scss";
@import "fonts.scss";
@import "bootstrap.scss";
@import "layout.scss";

* {
    font-family: "Futura";
    font-weight: normal;
    box-sizing: border-box;
}

/* navbar */
.navbar {
    z-index: 15;
    position: fixed;
    top: 0;
    padding-top: 100px;
    width: 100%;
    height: 100px;
    transition: all 0.3s;

    .navbar__container {
        width: 80%;
        position: relative;
    }
    .navbar-brand {
        padding: 0;
        .navbar-brand__logo {
            width: 290px;
            margin-left: 100px;
            transition: 0.3s;
        }
    }
    .nav-link {
        color: red;
        margin: 0 20px;
        padding: 10px 0 !important;
        font-size: 1.15rem;
    }
    .active {
        border-bottom: 3px solid black;
    }
    .nav-link--inicio {
        display: none;
    }
}

/*Inicio*/

.h1-inicio {
    margin: 100px 0px 25px 0px;
    font-weight: bold;
    color: #000;
}

p {
    font-family: "Futura";
    font-weight: normal;
    margin-bottom: 5px;
    text-align: left;
}

.cruz {
    position: absolute;
    left: -7vw;
    top: -13vh;
    max-width: 26vw;
}

.ondas {
    position: absolute;
    bottom: -10vh;
    left: -10vw;
    transform: rotate(-35deg);
    max-width: 30vw;
    filter: saturate(130%);
}

.ondas-v {
    position: absolute;
    transform: rotate(145deg);
    max-width: 30vw;
    right: -10vw;
    top: -20vh;
}

.formas-inicio {
    position: absolute;
    max-width: 45vw;
    bottom: -10vh;
    right: -5vw;
}

.botones {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 399.99px) {
    .botones {
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}

.btn {
    border-radius: 30px;
    text-transform: uppercase;
    color: #fff;
    padding: 5px 10px;
    letter-spacing: 1.5px;
    font-size: 0.8rem;
    font-weight: bold;
    white-space: nowrap;
}
.btn-mis {
    background-color: $miselanias;
    padding: 5px 40px;
}
.btn-otros {
    &:hover {
        background-color: $miselanias;
        color: #fff;
    }
    background-color: inherit;
    border: 1px solid $miselanias;
}

.escuchanos {
    display: flex;
    justify-content: space-between;
    margin-left: 1.5rem;
}
.escuchanos-icons {
    width: 35px;
}

.circulo-verde {
    position: absolute;
    width: 13vw;
    right: 7.96vw;
    bottom: -33vh;
}

/* columnas */
#columnas {
    position: relative;
    overflow: hidden;
    h2 {
        margin-left: 13%;
        margin-bottom: 1.4rem;
        font-weight: bold;
        font-size: 2.4rem;
    }
    .columnas__circulo--left {
        width: 120px;
        position: absolute;
        top: 480px;
        left: 0;
    }
    .columnas__circulo--right {
        width: 120px;
        position: absolute;
        bottom: 0;
        right: -90px;
    }
    .columnas__ondas--left {
        width: 290px;
        position: absolute;
        bottom: 100px;
        left: -120px;
        z-index: -1;
    }
    .columnas__ondas--right {
        width: 290px;
        position: absolute;
        bottom: 400px;
        right: -180px;
    }
    .columnas__container {
        max-width: 80%;
        .columnas__card {
            height: 400px;
            padding: 2rem 0;
            margin: 1rem auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img {
                height: 12rem;
            }
            h3 {
                font-weight: bold;
                font-size: 2.3rem;
            }
            p {
                margin-top: 1rem;
                max-width: 340px;
                text-align: center;
                color: gray;
                font-size: 1.2rem;
            }
            &:hover {
                transition: 1s;
            }
        }
        .columnas__card--2 {
            &:hover {
                box-shadow: 0px 0px 10px $en_contramano;
            }
        }
        .columnas__card--3 {
            &:hover {
                box-shadow: 0px 0px 10px $viaja_sentado;
            }
        }
        .columnas__card--4 {
            &:hover {
                box-shadow: 0px 0px 10px $historias_retro;
            }
        }
        .columnas__card--5 {
            &:hover {
                box-shadow: 0px 0px 10px $fuera_de_toma;
            }
        }
    }
}

/* VIDEO */

#video {
    margin-top: 10rem;
    margin-bottom: 10rem;
    overflow: hidden;
    padding-bottom: 6rem;
    h2 {
        margin-left: 13%;
        margin-bottom: 6rem;
        font-weight: bold;
        font-size: 2.4rem;
    }
    .videoContainer {
        display: flex;
        justify-content: center;
        .videoRelative {
            position: relative;

            .iframeContainer {
                width: 780px;
                height: 530px;
                iframe {
                    width: 780px;
                    height: 530px;
                    padding: 18px;
                    position: absolute;
                }    
            }
            .borde {
                z-index: -2;
                width: 780px;
                height: 530px;
                padding: 18px;
                position: absolute;
                border: 2.4px solid $institucional;
                border-radius: 20px;
            }

            img {
                position: absolute;
                z-index: -1;
            }
    
            .circulo--violeta {
                width: 120px;
                top: -5%;
                left: -5%;
            }
    
            .ondas--verdes {
                width: 300px;
                left: -12%;
                top: 10%;
            }
    
            .ondas--violetas {
                width: 430px;
                right: -35%;
                top: -20%;
            }
    
            .cruz--violeta {
                width: 165px;
                top: 40%;
                right: -20%;
            }
    
            .ondas__bottom--verdes {
                width: 330px;
                bottom: 5%;
                right: -15%;
                transform: rotate(0.08turn);
            }
    
            .circulo__bottom--verde {
                width: 110px;
                bottom: -7%;
                right: -4%;
            }
    
            .cruz__bottom {
                width: 650px;
                bottom: -40%;
                left: -37%;
            }
        }
    }
}

/* CONTACTO */
#contacto {
    margin-top: 13rem;
    margin-bottom: 10rem;
    .contacto__container {
        max-width: 1400px;
        width: 90%;
        .contacto__card {
            box-shadow: 0 0 15px rgb(194, 194, 194);
            .contacto__info {
                padding: 1.2rem 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .info__img {
                    height: 60%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    img {
                        width: 87%;
                    }
                    p {
                        font-size: 1.3rem;
                        margin-top: 1.3rem;
                        color: $miselanias;
                    }
                }
                .contacto__redes {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 3rem;
                    p {
                        font-size: 1.2rem;
                        margin-top: 1.2rem;
                        color: $miselanias;
                        text-align: center;
                    }
                    .redes__lista {
                        list-style: none;
                        display: flex;
                        padding: 0;
                        margin-top: 1rem;
                        li {
                            margin: 0 1rem;
                        }
                    }
                }
            }
            .contacto__form {
                background-color: $institucional;
                padding: 130px 120px 50px 80px;
                h4 {
                    font-weight: bold;
                    margin-left: 10px;
                    font-size: 2rem;
                }
                form {
                    input {
                        border-radius: 30px;
                        height: 3rem;
                        &:focus {
                            background-color: #fff;
                            border-color: white;
                            outline: 0;
                            box-shadow: none;
                        }
                    }
                    label,
                    span {
                        margin-left: 10px;
                        margin-bottom: 0.5rem;
                        font-size: 1.15rem;
                        span {
                            color: red;
                        }
                    }
                    button {
                        float: right;
                        background-color: $miselanias;
                        color: white;
                        border-radius: 20px;
                        padding: 10px 40px;
                        outline: none;
                        box-shadow: none;
                        border: none;
                        font-weight: bold;
                    }
                    textarea {
                        border-radius: 20px;
                        margin-top: 1rem;
                    }
                    .leyenda {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}

/* quienes somos */
#quienes-somos {
    position: relative;
    overflow: hidden;
    top: 300px;
    h2 {
        margin-left: 13%;
        margin-bottom: 1.4rem;
        font-weight: bold;
        font-size: 2.4rem;
    }
}
.x-purple-left-top {
    position: absolute;
    left: -12rem;
    top: 4rem;
}

.waves-green-right-top {
    position: absolute;
    top: 20rem;
    right: -15rem;
}

.x-green-right-middle {
    position: absolute;
    top: 40rem;
    right: -13rem;
}

.circle-green-left-middle {
    position: absolute;
    top: 60rem;
    left: -16rem;
}

.x-purple-left-bottom {
    position: absolute;
    left: -13rem;
    bottom: -80rem;
}

.circle-green-right-bottom {
    position: absolute;
    right: -15rem;
    bottom: -115rem;
}

.x-purple-middle-bottom {
    position: absolute;
    right: 70%;
    left: 30%;
    bottom: -15rem;
    transform: rotate(160deg);
}

.bubble-box-container {
    position: relative;
}

@media (max-width: 576px) {
    .bubble-box {
        height: 50vh;
    }
}

.bubble-box {
    width: 120%;
}

.bubble-content-container {
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    padding: 1rem;
}

.bubble-content-container__left {
    right: 2rem;
    left: 2rem;
}

.bubble-content-container__right {
    left: 2.5rem;
    right: 2rem;
}

@media (min-width: 991.99px) {
    .bubble-content-container__left {
        right: 7rem;
    }
    .bubble-content-container__right {
        left: 7rem;
    }
}

.bubble-title {
    font-family: "Futura", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #000;
    text-transform: capitalize;
}

.bubble__right {
    text-align: right;
}
.bubble-subtitle {
    font-family: "Futura", sans-serif;
    font-size: 0.7rem;
    color: $miselanias;
    font-style: italic;
}

.bubble-text {
    font-family: "Futura", sans-serif;
    font-size: 0.7rem;
    color: rgba(51, 51, 51, 0.7);
}

.bubble-links {
    display: flex;
    padding-top: 0.5rem;
}

.bubble-links__right {
    justify-content: flex-end;
}

.bubble-links-img {
    width: 1rem;
    margin: 0.3rem;
}

.bubble-img {
    position: relative;
}

.profile {
    width: 90%;
}



// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    /* columnas */
    #columnas {
        .columnas__ondas--left {
            left: -200px;
        }
    }

    #contacto {
        .contacto__container {
            .contacto__card {
                .contacto__info {
                    height: 70vh;
                }
            }
        }
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    /* Columnas */
    #columnas {
        .columnas__ondas--right {
            bottom: 900px;
        }
        .columnas__ondas--left {
            bottom: 350px;
            left: -200px;
        }
    }

    #video {
        h2 {
        }
        .videoContainer {
            .videoRelative {
    
                .iframeContainer {
                    width: 450px;
                    height: 330px;
                    iframe {
                        width: 450px;
                        height: 330px;
                    }    
                }
                .borde {
                    z-index: -2;
                    width: 450px;
                    height: 330px;
                    padding: 18px;
                    position: absolute;
                    border: 2.4px solid $institucional;
                    border-radius: 20px;
                }
    
                img {
                    position: absolute;
                    z-index: -1;
                }
        
                .circulo--violeta {
                    width: 60px;
                    top: -3%;
                    left: -3%;
                }
        
                .ondas--verdes {
                    width: 150px;
                    left: -6%;
                    top: 14%;
                }
        
                .ondas--violetas {
                    width: 215px;
                    right: -25%;
                    top: -14%;
                }
        
                .cruz--violeta {
                    width: 80px;
                    top: 40%;
                    right: -14%;
                }
        
                .ondas__bottom--verdes {
                    width: 110px;
                    bottom: 5%;
                    right: -15%;
                    transform: rotate(0.08turn);
                }
        
                .circulo__bottom--verde {
                    width: 55px;
                    bottom: -4%;
                    right: -3%;
                }
        
                .cruz__bottom {
                    width: 300px;
                    bottom: -30%;
                    left: -25%;
                }
            }
        }
    }

    #contacto {
        margin-bottom: 0;
        .contacto__container {
            width: 100%;
            .contacto__card {
                box-shadow: none;
                .contacto__info {
                    height: 80vh;
                }
                .contacto__form {
                    padding: 80px 50px;
                }
            }
        }
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    /* Navbar */
    #navbar {
        .navbar-brand__logo {
            margin: 0;
        }
        .navbar-collapse {
            background-color: white;
        }
    }

    /* Contacto */
    #contacto {
        p {
            text-align: center;
        }
        .redes__lista {
            img {
                width: 1.7rem;
            }
        }
    }


    #video {
        margin-bottom: 0;
        padding-bottom: 0;
        h2 {
            margin-left: 1rem;
            font-size: 1.7rem;
        }
        .videoContainer {
            .videoRelative { 
                .iframeContainer {
                    width: 300px;
                    height: 230px;
                    iframe {
                        width: 300px;
                        height: 230px;
                    }    
                }
                .borde {
                    z-index: -2;
                    width: 300px;
                    height: 230px;
                    padding: 18px;
                    position: absolute;
                    border: 2.4px solid $institucional;
                    border-radius: 20px;
                }
    
                img {
                    position: absolute;
                    z-index: -1;
                }
        
                .circulo--violeta {
                    width: 60px;
                    top: -3%;
                    left: -3%;
                }
        
                .ondas--verdes {
                    width: 150px;
                    left: -6%;
                    top: 14%;
                }
        
                .ondas--violetas {
                    width: 215px;
                    right: -25%;
                    top: -14%;
                }
        
                .cruz--violeta {
                    width: 80px;
                    top: 40%;
                    right: -14%;
                }
        
                .ondas__bottom--verdes {
                    width: 110px;
                    bottom: 5%;
                    right: -15%;
                    transform: rotate(0.08turn);
                }
        
                .circulo__bottom--verde {
                    width: 55px;
                    bottom: -4%;
                    right: -3%;
                }
        
                .cruz__bottom {
                    width: 300px;
                    bottom: -30%;
                    left: -25%;
                }
            }
        }
    }

    /* Columnas */
    #columnas {
        h2 {
            margin-left: 1rem;
            font-size: 1.7rem;
        }

        .columnas__card {
            h3 {
                font-size: 1.8rem!important;
                text-align: center;
            }
        }
      
        .columnas__circulo--left {
            left: -70px;
        }
        .columnas__ondas--right {
            right: -220px;
        }
    }
}




// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width