@import "vars.scss";
@import "fonts.scss";
@import "bootstrap.scss";
@import "layout.scss";

* {
    font-family: "Futura";
    font-weight: normal;
    box-sizing: border-box;
}

/* navbar */
.navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    padding-top: 100px;
    width: 100%;
    height: 100px;
    background-color: $institucional;
    transition:  all 0.3s;
   
    .navbar__container {
        width: 80%;
        position: relative;
    }
    .navbar-brand {
        padding: 0;
        .navbar-brand__logo {
            width: 290px;
            margin-left: 100px;
            transition: 0.3s;
        }
    }
    .nav-link {
        color: red;
        margin-left: 3rem;
        padding: 10px 0!important;
        border-bottom: 2px solid black;
    }
}

p {
    font-family: "Futura";
    font-weight: normal;
    margin-bottom: 10px;
    text-align: justify;
}
p.institucional {
    width: 60%;
}

.btn {
    border-radius: 30px;
    text-transform: uppercase;
    color: #fff;
    padding: 5px 10px;
    letter-spacing: 1.5px;
    font-size: 0.80rem;
}
.btn-mis {
    background-color: $miselanias;
    padding: 5px 20px;
}
.btn-otros {
    background-color: inherit;
    border: 1px solid $miselanias;
}
    

/* columnas */
#columnas {
    h2 {
        margin-left: 13%;
        margin-bottom: 1rem;
        font-weight: bold;
    }
    .columnas__container {
        max-width: 60%;
        .columnas__card {
            height: 380px;
            padding: 2rem 0;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img {
                height: 12rem;
            }
            h3 {
                font-weight: bold;
                font-size: 2.3rem;
            }
            p {
                margin-top: 1rem;
                max-width: 340px;
                text-align: center;
                color: gray;
                font-size: 1.15rem;
            }
            &:hover {
                transition: 1s;
            }
        }
        .columnas__card--2 {
            &:hover {
                box-shadow: 0px 0px 10px $en_contramano ;
            }
        }
        .columnas__card--3 {
            &:hover {
                box-shadow: 0px 0px 10px $viaja_sentado ;
            }
        }
        .columnas__card--4 {
            &:hover {
                box-shadow: 0px 0px 10px $historias_retro ;
            }
        }
        .columnas__card--5 {
            &:hover {
                box-shadow: 0px 0px 10px $fuera_de_toma ;
            }
        }
        
        
    }
}