@import "vars.scss";
@import "fonts.scss";
@import "bootstrap.scss";
@import "layout.scss";

* {
    font-family: "Futura";
    font-weight: normal;
    box-sizing: border-box;
}



/* navbar */
.navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    padding-top: 100px;
    width: 100%;
    height: 100px;
    transition:  all 0.3s;
   
    .navbar__container {
        width: 80%;
        position: relative;
    }
    .navbar-brand {
        padding: 0;
        .navbar-brand__logo {
            width: 290px;
            margin-left: 100px;
            transition: 0.3s;
        }
    }
    .nav-link {
        color: red;
        margin: 0 20px;
        padding: 10px 0!important;
        font-size: 1.15rem;
    }
    .active {
        border-bottom: 3px solid black;
    }
    .nav-link--inicio {
        display: none;
    }
}

/*Inicio*/

.h1-inicio {
    margin: 100px 0px 25px 0px;
    font-weight: bold;
    color: #000;
}

p {
    font-family: "Futura";
    font-weight: normal;
    margin-bottom: 5px;
    text-align: left;
}

.cruz {
    position: absolute;
    left: -7vw;
    top: -13vh;
    max-width: 26vw;
}

.ondas {
    position: absolute;
    bottom: -10vh;
    left: -10vw;
    transform: rotate(-35deg);
    max-width: 30vw;
    filter: saturate(130%);
}

.ondas-v {
    position: absolute;
    transform: rotate(145deg);
    max-width: 30vw;
    right: -10vw;
    top: -20vh;
}

.formas-inicio {
    position: absolute;
    max-width: 45vw;
    bottom: -10vh;
    right: -5vw;
}

.botones {
    display: flex;
    justify-content: space-around;
}

.btn {
    border-radius: 30px;
    text-transform: uppercase;
    color: #fff;
    padding: 5px 10px;
    letter-spacing: 1.5px;
    font-size: 0.80rem;
    font-weight: bold;
}
.btn-mis {
    background-color: $miselanias;
    padding: 5px 40px;
}
.btn-otros {
    &:hover {
        background-color: $miselanias;
        color: #fff;
    }
    background-color: inherit;
    border: 1px solid $miselanias;
}

.escuchanos {
    display: flex;
    justify-content: space-between;
    margin-left: 1.5rem;
    }
.escuchanos-icons {
    max-width: 25px;
}

.circulo-verde {
    position: absolute;
    width: 11.9vw;
    right: 7.96vw;
    bottom: -10.9vh;
}

/* columnas */
#columnas {
    position: relative;
    overflow: hidden;
    h2 {
        margin-left: 13%;
        margin-bottom: 1.4rem;
        font-weight: bold;
        font-size: 2.4rem;
    }
    .columnas__circulo--left {
        width: 120px;
        position: absolute;
        top: 480px;
        left: 0;
    }
    .columnas__circulo--right {
        width: 120px;
        position: absolute;
        bottom: 0;
        right: -90px;
    }
    .columnas__ondas--left {
        width: 290px;
        position: absolute;
        bottom: 100px;
        left: -120px;
        z-index: -1;
    }
    .columnas__ondas--right {
        width: 290px;
        position: absolute;
        bottom: 400px;
        right: -180px;
    }
    .columnas__container {
        max-width: 80%;
        .columnas__card {
            height: 400px;
            padding: 2rem 0;
            margin: 1rem auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img {
                height: 12rem;
            }
            h3 {
                font-weight: bold;
                font-size: 2.3rem;
            }
            p {
                margin-top: 1rem;
                max-width: 340px;
                text-align: center;
                color: gray;
                font-size: 1.2rem;
            }
            &:hover {
                transition: 1s;
            }
        }
        .columnas__card--2 {
            &:hover {
                box-shadow: 0px 0px 10px $en_contramano ;
            }
        }
        .columnas__card--3 {
            &:hover {
                box-shadow: 0px 0px 10px $viaja_sentado ;
            }
        }
        .columnas__card--4 {
            &:hover {
                box-shadow: 0px 0px 10px $historias_retro ;
            }
        }
        .columnas__card--5 {
            &:hover {
                box-shadow: 0px 0px 10px $fuera_de_toma ;
            }
        }
        
        
    }
}


/* CONTACTO */
#contacto {
    height: 180vh;
    padding-top: 10rem;
    .contacto__container {
        max-width: 1400px;
        width: 90%;
        .contacto__card {
            box-shadow: 0 0 15px rgb(194, 194, 194);
            .contacto__info {
                padding: 1.2rem 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .info__img {
                    height: 60%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    img {
                        width: 87%;
                    }
                    p {
                        font-size: 1.3rem;
                        margin-top: 1.3rem;
                        color: $miselanias;
                    }
                }
                .contacto__redes {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 3rem;
                    p {
                        font-size: 1.2rem;
                        margin-top: 1.2rem;
                        color: $miselanias;
                        text-align: center;
                    }
                    .redes__lista {
                        list-style: none;
                        display: flex;
                        padding: 0;
                        margin-top: 1rem;
                        li {
                            margin: 0 1rem;
                        }
                    }
                }
            }
            .contacto__form {
                background-color: $institucional;
                padding: 130px 120px 50px 80px;
                h4 {
                    font-weight: bold;
                    margin-left: 10px;
                    font-size: 2rem;
                }
                form {
                    input {
                        border-radius: 30px;
                        height: 3rem;
                        &:focus {
                            background-color: #fff;
                            border-color: white;
                            outline: 0;
                            box-shadow: none;
                        }
                    }
                    label,span {
                        margin-left: 10px;
                        margin-bottom: 0.5rem;
                        font-size: 1.15rem;
                        span {
                            color: red;
                        }
                    }
                    button {
                        float: right;
                        background-color: $miselanias;
                        color: white;
                        border-radius: 20px;
                        padding: 10px 40px;
                        outline: none;
                        box-shadow: none;
                        border: none;
                        font-weight: bold;
                    }
                    textarea {
                        border-radius: 20px;
                        margin-top: 1rem;
                    }
                    .leyenda {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}


// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

    /* Navbar */
    #navbar {
        .navbar-brand__logo {
            margin: 0;
        }
        .navbar-collapse {
            background-color: white;
        }
    }

     /* Columnas */
     #columnas {

        .columnas__circulo--left {
            left: -70px;
        }
        .columnas__ondas--right {
            right: -220px;
        }

    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
     /* Columnas */
     #columnas {
        .columnas__ondas--right {
            bottom: 900px;
        }
        .columnas__ondas--left {
            bottom: 350px;
            left: -200px;
        }
    }

    #contacto {
        .contacto__container {
            width: 100%;
           .contacto__card {
               box-shadow: none;
                .contacto__info {
                    height: 80vh;
                }
                .contacto__form {
                    padding: 80px 50px;
                }
           }
        }
    }
 }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    /* columnas */
    #columnas {
        .columnas__ondas--left {
            left: -200px;
        }
    }

    #contacto {
        .contacto__container {
           .contacto__card {
                .contacto__info {
                    height: 70vh;
                }
           }
        }
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { }

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width